<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="Bin">
      <Component Id="AngleEglRuntime" Guid="*">
        <File Id="AngleEglDll" Name="libEGL.dll" Source="$(var.CargoTargetBinDir)\libEGL.dll" KeyPath="yes" />
      </Component>
      <Component Id="AngleGlesRuntime" Guid="*">
        <File Id="AngleGlesDll" Name="libGLESv2.dll" Source="$(var.CargoTargetBinDir)\libGLESv2.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="AngleLicense" Guid="*">
        <File Id="AngleLicenseFile" Name="ANGLE_LICENSE.txt" Source="vendor\angle\windows-x86_64\LICENSE.txt" KeyPath="yes" />
      </Component>
      <Component Id="ThirdPartyNotices" Guid="*">
        <File Id="ThirdPartyNoticesFile" Name="THIRD_PARTY_NOTICES.md" Source="THIRD_PARTY_NOTICES.md" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <FeatureRef Id="Binaries">
      <ComponentRef Id="AngleEglRuntime" />
      <ComponentRef Id="AngleGlesRuntime" />
      <ComponentRef Id="AngleLicense" />
      <ComponentRef Id="ThirdPartyNotices" />
    </FeatureRef>
  </Fragment>
</Wix>
